table{
  border: 1px solid skyblue;
   margin: 20px auto;
  background-color: rgba(239, 243, 238, 0.664);
  height: 60%;
  width: auto;
  text-align: center;
  
}

.btn{
    height: 50px;
    width: 50px;
    background-color: rgb(4, 75, 13);
  
}
.container{
background-color: rgb(156, 196, 148);
height: 80vh;
width:32% ;
display: flex;
flex-direction: column;
margin: 0 auto;
}
.textviewer{
  height: 40px;
  width: 58%;
  background-color: rgb(98, 158, 98);
  display: flex;
  margin: 0 auto;
 
}
*{
  margin: 0;
  padding: 0;
}
form{
  margin-top: 9vh;
}